# {{name}} ({{variant}})
# https://github.com/danfry1/theme-template

gui:
  theme:
    activeBorderColor:
      - "{{accents.keyword}}"
      - bold
    inactiveBorderColor:
      - "{{backgrounds.surface1}}"
    searchingActiveBorderColor:
      - "{{accents.number}}"
      - bold
    optionsTextColor:
      - "{{accents.func}}"
    selectedLineBgColor:
      - "{{backgrounds.surface0}}"
    cherryPickedCommitFgColor:
      - "{{accents.func}}"
    cherryPickedCommitBgColor:
      - "{{accents.keyword}}"
    markedBaseCommitFgColor:
      - "{{accents.func}}"
    markedBaseCommitBgColor:
      - "{{accents.number}}"
    unstagedChangesColor:
      - "{{accents.error}}"
    defaultFgColor:
      - "{{foregrounds.text}}"
